{% extends 'base_logged_in.html' %}
{% block title %}Your groups){% endblock %}
{% block buttons %}
    <button onclick="location.href='{% url 'groups:add_group' %}'" class = "modern-button" style="margin: 0; height: 40px; width: 150px">Create New Group</button>
    {{ block.super }}
{% endblock %}

{% block body %}

    <div style="padding: 50px">
    <div class="container" style="width: 50%; float: left; height: 400px; overflow-y: auto;">
    <h3>Your Owned Groups</h3>
    <hr>
    {% for group in my_groups %}
       <p>
{#            <form style="display: inline" action="{% url 'groups:remove' %}" method="post">#}
{#                {% csrf_token %}#}
{#                <input type="hidden" value="{{ group.id }}" name="group_id">#}
{#                <button class="modern-button" style="width: auto; height: auto">Leave Group</button>#}
{#            </form> {{ group.group_name }}#}
{#        <a href='{% url 'main_app:friend_timeline' friend_username=friend.username%}'>{{ friend.username }}</a>#}
{#       {{ group.group_name }}#}
       <a href='{% url 'groups:group_view' group_id=group.id%}'>{{ group.group_name }}</a>
        </p>
        <hr>
    <hr>

    {% endfor %}
    </div>

    <div class="container" style="width: 50%; float:right; height: auto">
        <form action="google.com" method="post" class="center-form">
            <input type="text" class="search-bar" placeholder="Search for people!">
        </form>
        <div class="container" style="overflow-y: auto; height: 400px" >
            {% for join_request in incoming_requests %}
                <p> {{ join_request.member.username }} sent join-request to {{ join_request.group.group_name }}</p>
                <p>
            <form style="display: inline" action="{% url 'groups:accept' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ join_request.group.id }}" name="group_id">
                <input type="hidden" value="{{ join_request.member.id }}" name="member_id">
                <button class="modern-button-green" style="width: auto; height: auto">Accept</button>
            </form>
            <form style="display: inline" action="{% url 'groups:decline' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ join_request.group.id }}" name="group_id">
                <input type="hidden" value="{{ join_request.member.id }}" name="member_id">
                <button class="modern-button-red" style="width: auto; height: auto">Decline</button>
            </form>
                {{ group.group_name }}
{#                <a href='{% url 'main_app:friend_timeline' friend_username=stranger.username%}'>{{ stranger.username }}</a>#}
                </p>
                <hr>
            {% endfor %}
{#        {% for group in sent_requests %}#}
{#           <p><form style="display: inline" action="{% url 'groups:cancel_request' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <input type="hidden" value="{{ group.id }}" name="group_id">#}
{#                    <button class="modern-button-green" style="width: auto; height: auto">Cancel Request</button>#}
{#                </form> {{ group.group_name }}#}
{#            <a href='{% url 'main_app:friend_timeline' friend_username=friend.username%}'>{{ friend.username }}</a>#}
{#            </p>#}
{#            <hr>#}
{#            <hr>#}
{##}
{#        {% endfor %}#}
{#        {% for friend in all_requests_sent %}#}
{#           <p><form style="display: inline" action="{% url 'users:cancel_request' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <input type="hidden" value="{{ friend.id }}" name="friend">#}
{#                    <button class="modern-button-red" style="width: auto; height: auto;">Cancel Request</button>#}
{#                </form> <a href='{% url 'main_app:friend_timeline' friend_username=friend.username%}'>{{ friend.username }}</a></p>#}
{#                    <hr>#}
{#            <hr>#}
{##}
{#        {% endfor %}#}
        </div>
    </div>
    </div>

{% endblock %}
