{% extends 'base_logged_in.html' %}
{% block title %}Group Timeline{% endblock %}
{% block body %}

    <div class="container" >
    {% if can_post %}
    <form style="align-self: center" style="margin-left: auto; margin-right: auto" action={% url 'groups:add_group_post'%} method="post">
        {% csrf_token %}
{#        <input type="text" name="post_text" class="textfield" style="height: 150px; width: 500px">#}
        <input type="hidden" name="group_id" value={{ group.id }}>
        <input type="hidden" name="member_id" value="{{ user.id }}">
        <textarea name="post_text" rows = "5" cols="60">Post on {{ group.group_name }}!</textarea>
        <br>
        <input type="submit" class="modern-button">
    </form>
    {% endif %}
    </div>

    <div style="height: 100%; width: 80%; margin: auto">

        <div id="post-section">
{#            {% for post_number in forloop %}#}
{#                <p><b>post_number</b></p>#}
{#            {% endfor %}#}

            {% for post in all_posts %}
                <hr>
                <p style="background-color: antiquewhite">
                <b>Author:</b> {{ post.author.username }}
                    <br>
{#                <b>Recipient: </b> {{ post.recipient_name }}#}
                    <br>
                <b>Posted on </b> {{ post.date.date }} <b>at</b> {{ post.date.time }}
                <br>
                <b>Post text:</b>
                <br>
                {{ post.description }}
                </p>
                <hr>
            {% endfor %}
        </div>

        <div id="timeline-side-panel" style="padding: 20px; height: 300px; overflow-y: auto; top: 150px">
            <h4 style="text-align: center; ">Group members</h4>
            {% for member in members %}
                <p>
                {% if group.member_deletion_access == 1 or group.member_deletion_access == 0 and is_admin %}
                    <form style="display:inline;" method="post" action="{% url 'groups:remove_other' %}">
                        {% csrf_token %}
                        <input type="hidden" name="group_id" value="{{ group.id }}">
                        <input type="hidden" name="username" value="{{ member.username }}">
                        <button class="modern-button-red" style="height: auto; width: auto">remove</button>
                    </form>
                {% endif %}
                <a href='{% url 'friends:friend_timeline' friend_username=member.username%}'>{{ member.username }}</a></p>
            {% endfor %}
        </div>

    </div>

{% endblock %}
