{% extends 'base_logged_in.html' %}
{% block title %}Messaging{% endblock %}

{% block body %}

    <div style="padding: 10px">
    <div class="container" style="width: 25%; float: left; height: 480px; overflow-y: auto;">
        <h4 style="text-align: center">
            Your Chat-list
        </h4>
        {% for friend in my_friends %}
            <form style="text-align: center" method="post" action='{% url 'private_message:friends_message' %}'>
                {% csrf_token %}
                <input type="hidden" name="friend_username" value={{ friend.username }}>
                {% if friend_username == None %}
                <button class="modern-button" name="button_clicked" value="select_friend">{{ friend.first_name }}</button>
                {% elif friend_username == friend.username %}
                <button class="modern-button-green" name="button_clicked" value="select_friend">{{ friend.first_name }}</button>
                {% else %}
                <button class="modern-button" name="button_clicked" value="select_friend">{{ friend.first_name }}</button>
                {% endif %}
            </form>
        {% endfor %}
    </div>

    <div class="container" style="width: 75%; float:right; height: 480px; overflow-y: auto">
        {% if display_message_box %}
        <form method="post" action={% url 'private_message:send_message' %}>
{#        <form method="post" action=".">#}
            {% csrf_token %}
            <input type="hidden" name="friend_username" value={{ friend_username }}>
            <textarea name="message_text" rows="5" cols="30" placeholder="Enter your message here"></textarea>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" id="gc" data-sitekey="6LeXv8AUAAAAACICsQq0gxWNNe-BSAq4S0RWLuut"></div>
            <button type="submit" name="button_clicked" value="send_message">Send</button>
        </form>
        {% endif %}
        {% for chat in chats %}
            <p>
            <b>
                {% if chat.sender == user %}
                    You say:
                {% else %}
                    {{ chat.sender.username }} says
                {% endif %}
            </b> {{  chat.message }}
            </p>
        {% endfor %}
    </div>
    </div>

{% endblock %}
