/*{% load static %}*/

body {
    background-color: #5CDB97;

    /*background-repeat: no-repeat;*/
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.modern-button {
    background-color: #05386B;
    color: white;
    min-height: 50px;
    min-width: 220px;
    font-size: 24px;
    border: 0px;
    margin: 4px;
}

.modern-button:hover {
    background-color: black;
    transition: 0.3s;
}

.textfield {
    background-color: darkgreen;
}

#login-section{
    background: url("login-wallpaper.jpg");

}

#top-header {
    background-color: black;
    color: wheat;
}

#navigation-bar {
    background-color: #3796B3;
    color: wheat;
}

#navigation-bar ul {
    padding: 5px;
    list-style: none;
}

#navigation-bar li {
    display: inline;
}


#login-form {
    padding: 24px;
}
