{% extends 'base_logged_in.html' %}

{% block title %}My Transactions{% endblock %}

{% block body %}

    <h1> Following are your pending transactions-: </h1>

    {% for i in trans_list %}
        {% if i.transaction_user_2.username ==  'admin'%}
            <p> -->  FROM <b>{{i.transaction_user_2.username}}</b>   TO  <b>{{i.transaction_user_1.username}}</b>   AMOUNT <b>{{i.transaction_amount}}</b>rs  DATE AND TIME <b>{{i.transaction_date}}</b> - <b>{{i.transaction_time}}</b></p>
        {% else %}
            <p> -->  FROM <b>{{i.transaction_user_1.username}}</b>   TO  <b>{{i.transaction_user_2.username}}</b>   AMOUNT <b>{{i.transaction_amount}}</b>rs  DATE AND TIME <b>{{i.transaction_date}}</b> - <b>{{i.transaction_time}}</b></p>
        {% endif %}
    {% endfor %}

<button onclick='location.href="{% url 'wallet:wallet_home' %}"'>
    Go Back
</button>

<button onclick='location.href="{% url 'logout' %}"'>
    Logout
</button>

{% endblock %}