{% extends 'base_logged_in.html' %}
{% load static %}
{% block title %}Transfer Money{% endblock %}

{% block body %}

{#<form action='transfer' method="POST" style="padding-top: 100px">#}
{#    <input name="to" class="textfield">Send To</input><br>#}
{#    <select class="textfield" name="to" style="margin: 0 auto; display: block">#}
{#    <option value="null">Select username</option>#}
{#        {% for user in all_users %}#}
{#            <option value= "{{ user.username }}">{{ user.username }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#    <br>#}
{#    <input name="amount" placeholder="Amount" class="textfield" style="margin: 0 auto; display: block"/><br>#}
{#    <button type="submit" style="margin: 0 auto; display: block" class="modern-button">#}
{#        Send Money#}
{#    </button>#}
{#</form>#}
{#    <script src="{% static 'wallet/full_screen.js' %}"></script>#}
    <form action="{% url 'wallet:transfer' %}" method="POST" id="transfer-form">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" value="Submit"> Transfer </button>
    </form>

{% endblock %}