{% extends 'base_logged_in.html' %}
{% block title %}  {{ user.first_name }}'s Wallet {% endblock %}
{% block body %}
    <div class="container" style="padding-top: 100px">
        <p style="text-align: center">Your account balance is <b>{{ bal }}</b><br>Your number of transacations for this month : <b>{{ trans }} </b> </p>

    <button class="modern-button" style="margin: 0 auto; display: block" onclick='location.href="{% url 'wallet:transfer' %}"'>
        Transfer money
    </button>

    <button class="modern-button" style="margin: 0 auto; display: block" onclick='location.href="{% url 'wallet:transactions_pending' %}"'>
        Show My Pending Transactions
    </button>

    <button class="modern-button" style="margin: 0 auto; display: block" onclick='location.href="{% url 'wallet:transactions_completed' %}"'>
        Show My Completed Transactions
    </button>

    <button class="modern-button" style="margin: 0 auto; display: block" onclick='location.href="{% url 'wallet:transactions_to_be_accepted' %}"'>
        Show Transactions To Be Accepted
    </button>

    <button class="modern-button" style="margin: 0 auto; display: block" onclick='location.href="{% url 'wallet:add_money' %}"'>
        Add Money to Wallet
    </button>

    </div>
{#    <button class="modern-button" onclick='location.href="{% url 'logout' %}"'>#}
{#        Logout#}
{#    </button>#}

{% endblock %}