{% extends 'base.html' %}
{% block navigation %}
    <li><a href='{% url 'friends:timeline' %}'>Timeline</a></li>
    <li><a href='{% url 'wallet:wallet_home' %}'>Wallet</a></li>
    <li><a href='{% url 'friends:friends' %}'>Friends</a></li>
    <li><a href='{% url 'groups:group' %}'>Groups</a></li>
    {% if user.user_type > 1 %}<li><a href='{% url 'groups:group_admin' %}'>Owned Groups</a></li>{% endif %}
    {% if user.user_type > 1 %}<li><a href='{% url 'private_message:friends_message' %}'>Chat</a></li>{% endif %}
    {% if user.user_type == 5 %}<li><a href='{% url 'commercial_page:page_list' %}'>My Commercial Pages</a></li>{% endif %}
    <li><a href='{% url 'commercial_page:page_list_global' %}'>All Commercial Pages</a></li>
{% endblock %}
{% block buttons %}
    <h5 style="margin: 0; height: 40px; width: 150px; display: inline">Hi, {{ user.first_name }}!</h5>
    <button class = "modern-button" style="margin: 0; height: 40px; width: 150px" onclick="location.href='{% url 'logout' %}'">Logout</button>
    <button class = "modern-button" style="margin: 0; height: 40px; width: 150px" onclick="location.href='{% url 'privacy_settings:settings' %}'">Settings</button>
    {% if user.user_type ==  1%}
        <h5 style="margin: 0; height: 40px; width: 150px; display: inline">Casual</h5>
    {% elif user.user_type == 2 %}
        <h5 style="margin: 0; height: 40px; width: 150px; display: inline">Silver</h5>
    {% elif user.user_type == 3 %}
        <h5 style="margin: 0; height: 40px; width: 150px; display: inline">Gold</h5>
    {% elif user.user_type == 4 %}
        <h5 style="margin: 0; height: 40px; width: 150px; display: inline">Platinum</h5>
    {% elif user.user_type == 5 %}
        <h5 style="margin: 0; height: 40px; width: 150px; display: inline">Commercial</h5>
    {% endif %}
    {% if user.user_type > 1 %}
        <p style="margin: 0; height: 40px; width: 150px; display: inline; font-size: small">expires on {{user.expiration_date.date}}</p>
    {% endif %}
{% endblock %}