{% extends 'base_logged_in.html' %}
{% block title %}Friend requests{% endblock %}
{% block body %}
    {% for request in requests %}
        <p style="text-align: center">
            {{ request.username }} sent you a request
        </p>
        <form method="post" action="{% url 'main_app:friend_request' %}" style="display: inline">
        {% csrf_token %}
            <input type="hidden" name="sender" value="{{ request.username }}">
            <button class="modern-button" style="margin: 0 auto; display: block">Respond</button>
        </form>
        <hr>
    {% endfor %}
{% endblock %}