{% extends 'base_logged_in.html' %}
{% block title %} Your Friends {% endblock %}

{% block body %}

    <div style="padding: 50px">
    <div class="container" style="width: 50%; float: left; height: 400px; overflow-y: auto;">
    <h3>Your friends</h3>
    <hr>
    {% for friend in all_friends %}
       <p><form style="display: inline" action="{% url 'users:remove_friend' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ friend.id }}" name="friend">
                <button class="modern-button" style="width: auto; height: auto">Remove Friend</button>
            </form> <a href='{% url 'main_app:friend_timeline' friend_username=friend.username%}'>{{ friend.username }}</a></p>
                <hr>
        <hr>

    {% endfor %}
    </div>

    <div class="container" style="width: 50%; float:right; height: auto">
        <form action="google.com" method="post" class="center-form">
            <input type="text" class="search-bar" placeholder="Search for people!">
        </form>
        <div class="container" style="overflow-y: auto; height: 400px" >
            {% for stranger in all_strangers %}
                <p><form style="display: inline" action="{% url 'users:add_friend' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ stranger.id }}" name="friend">
                <button class="modern-button" style="width: auto; height: auto">Send Request</button>
            </form> <a href='{% url 'main_app:friend_timeline' friend_username=stranger.username%}'>{{ stranger.username }}</a></p>
                <hr>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}