{% extends 'base_logged_in.html' %}
{% block title %} Your Friends {% endblock %}

{% block body %}

    <div class="container" style="width: 50%; float: left; height: auto">
    {% for friend in all_friends %}
        <p style="background-color: antiquewhite; margin-left: 50px">
            <a href='{% url 'main_app:friend_timeline' friend_username=friend.follower.username%}'>{{ friend.follower.username }}</a>
        </p>
    {% endfor %}
    </div>

    <div class="container" style="width: 50%; float:right; height: auto">
        <form action="google.com" method="post" class="center-form" style="margin-top: 50px">
            <input type="text" class="search-bar" placeholder="Search for people!">
        </form>
    </div>

{% endblock %}