{% extends 'base_logged_in.html' %}
{% block title %}Friend Request received{% endblock %}
{% block body %}
    <div class="container" style="padding-top: 50px">
        <p style="text-align: center">
            Friend request received from <b>{{ sender.username }}</b>
        </p>
        <form method="post" action="{% url 'users:accept' %}" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="friend" value="{{ sender_id }}">
            <button class="modern-button" style="margin: 0 auto; display: block">Accept</button>
        </form>
        <form method="post" action="{% url 'users:decline' %}" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="friend" value="{{ sender_id }}">
            <button class="modern-button" style="margin: 0 auto; display: block">Decline</button>
        </form>
    </div>
{% endblock %}