{% extends 'base_logged_in.html' %}
{% block title %} Your Friends {% endblock %}

{% block body %}

    <div style="padding: 50px">
    <div class="container" style="width: 50%; float: left; height: 400px; overflow-y: auto;">
    <h3>Your friends</h3>
    <hr>
    {% for friend in all_friends %}
        <p>
            <button class="modern-button" style="width: auto; height: auto;">-</button> <a href='{% url 'main_app:friend_timeline' friend_username=friend.username%}'>{{ friend.username }}</a>
        </p>
        <hr>

    {% endfor %}
    </div>

    <div class="container" style="width: 50%; float:right; height: auto">
        <form action="google.com" method="post" class="center-form">
            <input type="text" class="search-bar" placeholder="Search for people!">
        </form>
        <div class="container" style="overflow-y: auto; height: 400px" >
            {% for stranger in all_strangers %}
                <p><button class="modern-button" style="width: auto; height: auto">+</button> <a href='{% url 'main_app:friend_timeline' friend_username=stranger.username%}'>{{ stranger.username }}</a></p>
                <hr>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}