{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
</head>


<body>
<header id="top-header">
    <div class="container">
        <h1>SocPay</h1>
    </div>
</header>

<nav id="navigation-bar">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Team</a></li>
        </ul>
    </div>
</nav>
<div style="min-height:100%">
<section id="login-section" >
    <div class="container" style="text-align:center">
        <form action="TODO" method="post" id="login-form">
            <div>
{#                <label>Username</label>#}
                <input type="text" name="username" placeholder="Username" class="textfield">
            </div>
            <div>
{#                <label>Password</label>#}
                <input type="password" name="password" placeholder="Password" class="textfield">
            </div>
            <input type="submit" name="login" value="Login" class="modern-button">
            <div></div>
            <input type="submit" name="register" value="Register" class="modern-button">
            <div></div>
            <input type="submit" name="forgot_password" value="Forgot Password?" class="modern-button">
        </form>
    </div>
</section>
</div>

</body>
</html>