{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>


<body>
<header id="top-header">
    <div class="container">
{#        <img src="{% static "main_app/sp-logo.png" %}" alt="Logo" style="float: left; height: 42px; width: 42px; vertical-align: middle">#}
        <h1>SocPay</h1>
    </div>
</header>

<nav id="navigation-bar">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Team</a></li>
        </ul>
    </div>
</nav>

<div class="container_form">
<section id="login-section" style="min-height: 512px">
    <div class="container" style="text-align:center; min-height: 100%">
        <form action="TODO" method="post" id="login-form" style="margin-top:100px ">
            <div>
{#                <label>Username</label>#}
                <input type="text" name="username" placeholder="Username" class="textfield">
            </div>
            <div>
{#                <label>Password</label>#}
                <input type="password" name="password" placeholder="Password" class="textfield">
            </div>
            <input type="submit" name="login" value="Login" class="modern-button">
            <div></div>
            <input type="submit" name="register" value="Register" class="modern-button">
            <div></div>
            <input type="submit" name="forgot_password" value="Forgot Password?" class="modern-button">
        </form>
    </div>
</section>
</div>

</body>
</html>