{% extends 'base.html' %}

{% block title %} Register on SocPay {% endblock %}

{% block body %}
<form method="post" style="margin: 0 auto; width: 200px">
    {% csrf_token %}
{#    {{ form.as_p }}#}
    {% for field in form %}
        <br>
        {{ field.label_tag }}
        <b style="color: red">{{ field.errors }}</b>
        <br>
        {{ field }}
        <br>
    {% endfor %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" id="gc" data-sitekey="6LeXv8AUAAAAACICsQq0gxWNNe-BSAq4S0RWLuut"></div>
    <button type="submit" class="modern-button">Sign up!</button>
</form>
{% endblock %}