{% extends 'base_logged_in.html' %}

{% block title %}
    SocPay | Welcome, {{ user.first_name }}!
{% endblock %}



{% block body %}

    <div class="container" style="overflow-y: auto">
    <form style="align-self: center" style="margin-left: auto; margin-right: auto" action="add_post" method="post">
        {% csrf_token %}
{#        <input type="text" name="post_text" class="textfield" style="height: 150px; width: 500px">#}
        <textarea name="post_text" rows = "5" cols="60">Enter your post here</textarea>
        <br>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" id="gc" data-sitekey="6LeXv8AUAAAAACICsQq0gxWNNe-BSAq4S0RWLuut"></div>
        <input type="submit" class="modern-button">
    </form>
    </div>

    <div style="height: 100%; width: 80%; margin: auto">

        <div id="post-section">
{#            {% for post_number in forloop %}#}
{#                <p><b>post_number</b></p>#}
{#            {% endfor %}#}

            {% for post in all_posts %}
                <hr>
                <p style="background-color: antiquewhite">
                <b>Author:</b> {{ post.author_name }}
                    <br>
                <b>Recipient: </b> {{ post.recipient_name }}
                    <br>
                <b>Posted on </b> {{ post.post_date.date }} <b>at</b> {{ post.post_date.time }}
                <br>
                <b>Post text:</b>
                <br>
                {{ post.post_text }}
                </p>
{#                <hr>#}
            {% endfor %}
        <hr>
        <br>
        </div>

{#        <div id="timeline-side-panel" style="padding: 20px">#}
{#            <button class = "modern-button" style="margin: 0 auto; display: block;" onclick="location.href='{% url 'wallet:wallet_home' %}'">Wallet</button>#}
{#            <br>#}
{#            <button class = "modern-button" style="margin: 0 auto; display: block;" onclick="location.href='{% url 'friends:friends' %}'">Friends</button>#}
{#            <br>#}
{#            <button class = "modern-button" style="margin: 0 auto; display: block;" onclick="location.href='{% url 'groups:group' %}'">Groups</button>#}
{#            <br>#}
{#            <button class = "modern-button" style="margin: 0 auto; display: block;" onclick="location.href='{% url 'groups:group_admin' %}'">Owned Groups</button>#}
{#            <br>#}
{#            <button class = "modern-button" style="margin: 0 auto; display: block;" onclick="location.href='{% url 'private_message:friends_message' %}'">Chat with friends</button>#}
{#            <br>#}
{#            <button class = "modern-button" style="margin: 0 auto; display: block;" onclick="location.href='{% url 'commercial_page:page_list' %}'">My Commercial Pages</button>#}
{#            <br>#}
{#            <button class = "modern-button" style="margin: 0 auto; display: block;" onclick="location.href='https://google.com'">Show Commercial Pages</button>#}
{#        </div>#}

    </div>

{% endblock %}