{% extends 'base.html' %}
{% block title %} Login to SocPay {% endblock %}

{% block body %}
{#<div class="container" style="text-align: center">#}


<form method="post" style="margin: 0 auto; width: 200px">
    {% csrf_token %}
{#    {{ form.as_p }}#}
{#    <button type="submit">Login</button>#}

    {% for field in form %}
        <b style="color: red">{{ field.errors }}</b>
        <br>
        {{ field.label_tag }}
        <br>
        {{ field }}
        <br>
    {% endfor %}
    <button type="submit" class="modern-button">Sign In</button>
</form>
{#    <p style="text-align: center">#}
{#    <button onclick="location.href='{% url 'password_reset' %}'" class="modern-button" style="margin: 0 auto; position: absolute;">Forgot Password?</button>#}
{#    </p>#}
{#</div>#}
{% endblock %}