{% extends 'base_logged_in.html' %}
{% block title %}{{ page.page_name }}{% endblock %}
{% block body %}

    <div class="container" >
    <form style="align-self: center" style="margin-left: auto; margin-right: auto" action={% url 'commercial_page:add_post'%} method="post">
        {% csrf_token %}
{#        <input type="text" name="post_text" class="textfield" style="height: 150px; width: 500px">#}
        <input type="hidden" name="page_id" value={{ page.id }}>
{#        <input type="hidden" name="member_id" value="{{ user.id }}">#}
        <textarea name="post_text" rows = "5" cols="60">Post on {{ page.page_name }}!</textarea>
        <br>
        <input type="submit" class="modern-button">
    </form>
    </div>

    <div style="height: 100%; width: 80%; margin: auto">

        <div id="post-section">
{#            {% for post_number in forloop %}#}
{#                <p><b>post_number</b></p>#}
{#            {% endfor %}#}

            {% for post in posts %}
                <hr>
                <p style="background-color: antiquewhite">
                <b>Author:</b> {{ page.admin.username }}
                    <br>
{#                <b>Recipient: </b> {{ post.recipient_name }}#}
                    <br>
                <b>Posted on </b> {{ post.date.date }} <b>at</b> {{ post.date.time }}
                <br>
                <b>Post text:</b>
                <br>
                {{ post.post_text }}
                </p>
                <hr>
            {% endfor %}
        </div>

{#        <div id="timeline-side-panel" style="padding: 20px; height: 300px; overflow-y: auto; top: 150px">#}
{#            <h4 style="text-align: center; ">Group members</h4>#}
{#            {% for member in members %}#}
{#                <p><a href='{% url 'main_app:friend_timeline' friend_username=member.username%}'>{{ member.username }}</a></p>#}
{#            {% endfor %}#}
{#        </div>#}

    </div>

{% endblock %}
