{% extends 'base_logged_in.html' %}
{% block title %}Title{% endblock %}
{% block body %}
    <div class="container">
        <h3>Account info</h3>
        <form method="post" action="{% url 'privacy_settings:update_user_details' %}">
            {% csrf_token %}
            <input type="text" name="first_name" required value="{{ user.first_name }}"> <br>
            <button type="submit">Update</button>
        </form>
        <button onclick="location.href='{% url 'password_change' %}'" class="modern-button">Change password</button>
    </div>
    <div class="container">
        <h3>User type</h3>
        <p>Upgrade to:</p>
        {% if user.user_type < 5 %}
        <form method="post" action="{% url 'privacy_settings:upgrade' %}">
            {% csrf_token %}
{#            <input type="radio" name="user_type" value="1">Casual<br>#}
            {% if user.user_type < 2 %}
            <input type="radio" name="user_type" value="2">Premium (Silver) (Rs. 50/month)<br>
            {% endif %}
            {% if user.user_type < 3 %}
            <input type="radio" name="user_type" value="3">Premium (Gold) (Rs. 100/month)<br>
            {% endif %}
            {% if user.user_type < 4 %}
            <input type="radio" name="user_type" value="4">Premium (Platinum) (Rs. 150/month)<br>
            {% endif %}
            {% if user.user_type < 5 and user.verified%}
            <input type="radio" name="user_type" value="5">Commercial (Rs. 5000/year)<br>
            {% endif %}
            <button type="submit">Upgrade</button>
        </form>
        {% else %}
        <p>You are a commercial user. You cannot upgrade more.</p>
        {% endif %}
    </div>
    <div class="container">
        <h3>Who can see my timeline?</h3>
        <form method="post" action="{% url 'privacy_settings:update_timeline_view' %}">
            {% csrf_token %}
            <input type="radio" name="timeline_privacy_level" value="0" {% if user.timeline_view_level == 0 %} checked {% endif %}> Only my friends <br>
            <input type="radio" name="timeline_privacy_level" value="1" {% if user.timeline_view_level == 1 %} checked {% endif %}> Anyone <br>
            <button class="modern-button" type="submit">Update</button>
        </form>
    </div>
    <div class="container">
        <h3>Who can post on my timeline?</h3>
        <form method="post" action="{% url 'privacy_settings:update_timeline_post' %}">
            {% csrf_token %}
            <input type="radio" name="timeline_privacy_level" value="0" {% if user.timeline_post_level == 0 %} checked {% endif %}> Only my friends <br>
            {% if user.timeline_view_level == 1 %}
            <input type="radio" name="timeline_privacy_level" value="1" {% if user.timeline_post_level == 1 %} checked {% endif %}> Anyone <br>
            {% endif %}
            <button class="modern-button" type="submit">Update</button>
        </form>
    </div>
    {% if not user.verified %}
    <div class="container">
        <h3>Verify your account</h3>
        <form method="post" action="{% url 'privacy_settings:send_otp' %}">
            {% csrf_token %}
            <button type="submit">Verify</button>
        </form>
    </div>
    {% endif %}
{% endblock %}