{% extends 'base_logged_in.html' %}
{% block title %}Title{% endblock %}
{% block body %}
    <div class="container">
        <h3>User type</h3>
        <p>Upgrade to:</p>
        {% if user.user_type < 5 %}
        <form method="post" action="{% url 'privacy_settings:upgrade' %}">
            {% csrf_token %}
{#            <input type="radio" name="user_type" value="1">Casual<br>#}
            {% if user.user_type < 2 %}
            <input type="radio" name="user_type" value="2">Premium (Silver) (Rs. 50/month)<br>
            {% endif %}
            {% if user.user_type < 3 %}
            <input type="radio" name="user_type" value="3">Premium (Gold) (Rs. 100/month)<br>
            {% endif %}
            {% if user.user_type < 4 %}
            <input type="radio" name="user_type" value="4">Premium (Platinum) (Rs. 150/month)<br>
            {% endif %}
            {% if user.user_type < 5 %}
            <input type="radio" name="user_type" value="5">Commercial (Rs. 5000/year)<br>
            {% endif %}
            <button type="submit">Upgrade</button>
        </form>
        {% else %}
        <p>You are a commercial user. You cannot upgrade more.</p>
        {% endif %}
    </div>
    <div>

    </div>
{% endblock %}